#!/usr/bin/make -f 					
# 							-*- makefile -*-
# debian/rules file for the Debian/GNU Linux time package
# Copyright 1995-2003 by Dirk Eddelbuettel <edd@debian.org>

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

## derive package name from directory name, and lower-case
package	:= $(shell basename $(CURDIR) | cut -f1 -d- | tr "[A-Z]" "[a-z]" )

#post-patches::
#		chmod a+x ./missing

common-build-arch::
		texi2html -verbose -monolithic $(package).texi

common-install-arch::
		dh_installdocs		$(package).html
		dh_installman		debian/$(package).1
                # deal with automake / install-info issue #246778
	        rm -vf  $(CURDIR)/debian/$(package)/usr/share/info/dir       \
		        $(CURDIR)/debian/$(package)/usr/share/info/dir.old
